.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    transition: all 0.2s ease-in;
    border-bottom: 3px solid #e7e4e1;
    padding-right: 15px;

    .bin {
        color: red;
        font-size: 20px;
        cursor: pointer;

        &:hover {
            filter: brightness(0.9);
        }

        &:active {
            transform: scale(0.9);
        }
    }
}

